* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ----- ^^ CSS RESET ^^ ----- */

h1 {
	font-size: 5rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
}

.editableDocumentFragment {
	position: relative;
	display: inline-block;
	min-width: 1ch;
	min-height: 2rem;
	transition: border-bottom .2s ease;
} .editableDocumentFragment:hover {
	border-bottom: 2px solid rgba(0, 0, 0, .2);
} .editableDocumentFragment:focus-within {
	border-bottom: 2px solid black;
} .editableDocumentFragment>textarea {
	all: inherit;
	position: absolute;
	width: 100vh;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: none;
	color: red;
	caret-color: black;
	resize: none;
	overflow: hidden;
	border: none;
}